.container {
    .content {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: 0 auto;
        margin-top: 5%;

        .headline {
            margin: 0;
        }
        .subTitle {
            margin-top: 2px;
        }

        .phoneNumberInput {
            border: none;
            background-color: #F1F1F1;
            padding: 10px 15px;
            border-radius: 10px;
            margin-top: 20px;

            &:active  {
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }

        .sendOtpButton {
            background-color: #CF4539;
            border: none;
            border-radius: 10px;
            padding: 10px 10px;
            width: 70%;
            margin: 0  auto;
            color: white;
            margin-top: 50px;
            font-weight: bold;
            .loadingImage {
                height: 20px;
            }
        }

        .signUpText {
            margin: 0 auto;
            margin-top: 20px;

            .signUpButton{
                cursor: pointer;
            }
        }
    }

    
}

@media (max-width:1190px) {
    .container {
        .content {
            width: 45%;
        }
    }
}

@media (max-width:950px) {
    .container {
        .content {
            width: 55%;
        }
    }
}

@media (max-width:600px) {
    .container {
        .content {
            width: 75%;
            margin-top: 10%;
        }
    }
}