.container {
    
    .content {
        margin-top: 30px;
        display: flex;
        
        .leftSide {
            flex: 1.5;
            .itemListContainer {
                background-color: #F5F5F5;
                
                padding: 0 15px;
                border-radius: 10px;
                margin-right: 10px;
                max-height: 700px;
                
                margin-bottom: 20px;
                .sectionTitle {
                    position: sticky;
                    top: 0;
                    padding: 12px 5px;
                    background-color: #F5F5F5;  
                    margin-bottom: 0;
                    padding-bottom: 5px;
                }
                .loaderContainer {
                    display: flex;
                    flex: 1;
                    height: 70%;
                    justify-content: center;
                    align-items: center;
                }
    
                .cartList {
                    margin-top: 20px;
                }

                .paymentMethodContainer {
                    display: flex;
                    align-items: center;
                    .methodName {
                        padding: 10px 10px;
                    }
                }
                .bankPaymentMethodContainer {
                    display: flex;
                    flex-direction: column;
                    .methodName {
                        padding: 10px 10px;
                    }

                    .bankDetailsContainer {
                        background-color: rgb(233, 233, 233);
                        padding: 10px;
                        border-radius: 10px;
                        .bankDetailLabel {
                            margin-bottom: 0;
                            margin-bottom: 5px;
                        }

                        .bankDetail {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        

        .itemActions {
            flex: 0.5;
            margin-left: 10px;
            .orderDetail {
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .orderDetailLabel {
                    color: #444;
                    font-size: 15px;
                }

                .orderDetailValue {
                    font-size: 16px;
                }
            }

            .checkOutButton {
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width:1000px) {
    .container {
    
        .content {
            display: flex;
            flex-direction: column;
        }
    }
}