.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    
    .productPreview {
        width: 120px;
        height: 120px;
        border-radius: 10px;
    }   
    .itemDetail {
        margin-left: 20px;
        margin-top: 5px;
        .itemName {
            margin: 0;
            font-weight: 600;
        }

        .quantity {
            color: #444;
            margin-top: 3px;
            margin-bottom: 0;

            .total {
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
        }

        .noteForSellerContainer{
            margin-top: 5px;
            .noteForSellerLabel {
                font-weight: bold;
                
               
            }
            .instruction {

            }
        }
    }

    .deleteButton {
        display: flex;
        align-items: center;
        height: 40px;
        margin-left: auto;
        .deleteLabel {
            display: flex;
            margin: 0 5px;
        }
    }
}

@media (max-width:610px) {
    .container {
        .productPreview {
            width: 100px;
            height: 100px;
           
        }   
        .itemDetail {
            margin-left: 10px;
            .itemName {
                font-size: 17px;
            }

            .quantity {
                font-size: 13px;
                .total {
                    font-size: 14px;
                }
            }
        }
        .deleteButton {
            
            .deleteLabel {
                display: none;
            }
        }
    }
}