.container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    grid-gap: 40px;
    justify-items: center;
    margin-top: 25px;
}


@media (max-width: 530px) {
    .container {
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
        grid-gap: 20px;
    }
}