.container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

    .itemName {
        font-weight: bold;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 10px;
        border-radius: 10px;
        background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.1));
    }
}