
.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footerHeadline {
    font-size: 25px;
}

.copyrightContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 10px 30px;
}

.footerOption {
    margin-left: 10px;
}

@media (max-width:660px) {
    .copyrightContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footerOption {
        margin-left: 0px;
        margin-right: 20px;
        margin-left: 20px;
    }
}