
a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 85%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}


@media (max-width:470px) {
  
body {
  width: 95%;
  margin: 0 auto;
}

}