.container{

}

.caroselImage {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

.categoryContainer {
    margin-top: 60px;
}

.newArrivalContainer {
    margin-top: 80px;

   
}

.viewAllContainer {
    margin-left: auto;
    cursor: pointer;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
   
}

.viewAllLabel {
    margin-right: 10px;
}



.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footerHeadline {
    font-size: 25px;
}

.copyrightContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 10px 30px;
}

.footerOption {
    margin-left: 10px;
}

@media (max-width:1000px) {
    .caroselImage {
        height: 45vh;
    }
}

@media (max-width:630px) {
    .caroselImage {
        height: 30vh;
    }
}