.container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
    .productImage {
        min-width: 150px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }

    .productDetailContainer {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 10px;
        .productName {
            font-weight: bold;
            font-size: 18px;
            padding: 0;
        }
    
        .productCost {
            padding: 0;
            margin-top: 1px;
            font-size: 15px;
            font-weight: 400;
        }
    }

    
}