.container{
    .nameContainer {
        margin-top: 10px;
    }

    .formContent {
        margin-top: 30px;
        background-color: rgb(248, 248, 248);
        padding: 20px;
        border-radius: 10px;
        .sectionTitles {
            padding-bottom: 20px;
        }
    }

    .submitButton {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        width: 200px;
    }
}