.container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    grid-gap: 50px;
    justify-items: center;
    margin-top: 25px;
}

@media (max-width:560px) {
    .container {
        grid-gap: 20px;
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    }
}