.container {
    background-color: white;
    margin-top: 15px;
    .priceContainer {
        display: flex;
        justify-content: space-between;
    }

    .rule {
        margin: 0;
        margin-bottom: 10px;
    }

    .orderDetail {
        padding: 0;
        margin: 0;
        
        .orderDetailValue {
            font-weight: bold;
            margin-left: 10px;
        }
    }

    .statusContainer {
        display: flex;
    }
    .listActionContainer {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .listAction {
            color: #056ac9;
            cursor: pointer;
        }
    }
}

@media (max-width:680px) {
    .container {
        
        .priceContainer {
           flex-direction: column-reverse;
           .orderId {
               font-size: 15px;
           }
           .orderTotal {
               font-size: 20px;
               
           }
        }
    }
}