.container{
    .topSection {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .sectionTitle {
            
        }

        .searchContainer {
            width: 300px;
        }
    }
}

@media (max-width:560px) {
    .container{
        .topSection {
            flex-direction: column;
            .sectionTitle {
                
            }
    
            .searchContainer {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
    
}