.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .inputContainer {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;

        .inputLabel {
            margin-left: 10px;
        }

        .inputField {
            background-color: #f1f1f1;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}

@media (max-width: 790px) {
    .container {
        .inputContainer {
            width: 80%;
        }
    }
}



@media (max-width: 550px) {
    .container {
        .inputContainer {
            width: 90%;
        }
    }
}
