.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    
    .productImage {
        width: 100%;
        height: 250px;
        min-width: 200px;
        border-radius: 10px;
        object-fit: cover;
    }

    .productName {
        font-weight: bold;
        font-size: 18px;
        padding: 0;
    }

    .productCost {
        padding: 0;
        margin-top: 1px;
        font-size: 15px;
        font-weight: 400;
    }
}

@media (max-width:560px) {
    .container {
        .productImage {
            width: 100%;
            min-width: 150px;
            height: 230px;
            
        }
    
    }
}