.container{

    .typeLabel {
        margin-top: 10px;
    }
    .productList {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(380px, 1fr) );
        grid-gap: 50px;
        margin-top: 30px;
    }
}

@media (max-width:430px) {
    .container{

        .typeLabel {
            margin-top: 10px;
        }
        .productList {
            grid-template-columns: repeat( auto-fill, minmax(280px, 1fr) );

        }
    }
    
}