.container {
    .infoContainer {
        display: flex;
        margin-top: 30px;
       
        .imageListContainer {
            display: flex;
            flex: 1;
            margin-right: 20px;
        }

        .productInfoContainer {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-left: 20px;
            .productName {
                margin-bottom: 0;
            }
            .categoryLabel {
                color: rgb(99, 99, 99);
            }
            .descriptionContainer {
                margin-top: 20px;
            }

            .quantityContainer {
                margin-top: 20px;
                .quantitySelectorContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                }

                .price {
                    font-weight: 600;
                    font-size: 28px;

                }

            }

            .addToCart {
                .cartLabel {
                    font-weight: bold;
                    margin: 0 10px;
                }
            }
        }
    }
}

@media (max-width:990px) {
    .container {
        .infoContainer {
            flex-direction: column;
            margin-top: 20px;
            .imageListContainer {
                margin-right: 0px;
            }
    
            .productInfoContainer {
                margin-top: 50px;
                margin-left: 00px;
            }
        }
    }
}