.container {
    width: 100%;
    
    .preview {
        width: 100%;
        max-height: 600px;
        
        object-fit: contain;
    }

    .thumbnailsContainer {
        margin-top: 30px;
        .miniPreview {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            cursor: pointer;
            margin-right: 20px;
            object-fit: cover;
        }
    }
}