.container{
    margin-top: 80px;

    .loader {
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: rgba(121, 120, 120, 0.479);
        text-align: center;
        border-radius: 200px;
        padding:10px;
        width: 40px;
    }

    .productList {
        display: flex;
        overflow-x: scroll;
        margin-top: 20px;
        .productMainContainer {
            margin-right: 30px;
            
        }

        &::-webkit-scrollbar {
            display: none;
          }
          
          /* Hide scrollbar for IE, Edge and Firefox */
          & {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
          }
    }
}