.container {
    .paginationContainer {
        text-align: center;
        margin-top: 50px;

        .option {
            margin: 0 30px;
            cursor: pointer;
            font-size: 20px;
            user-select: none;
        }

        .active {
            font-weight: 600;
            border-bottom: 3px solid #cf4539;
        }
    }

    .tnc {
        text-align: center;
        margin-top: 40px;

        .tncLabel {
            cursor: pointer;
        }
    }

    .button {
        margin-top: 10px;

        background-color: #cf4539;
        border: none;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 200px;

        .loader {
            width: 20px;
        }
    }
}

@media (max-width: 700px) {
    .container {
        .paginationContainer {
            .option {
                margin: 20px;
                font-size: 15px;
            }
        }
    }
}


@media (max-width: 510px) {
    .container {
        .paginationContainer {
            .option {
                margin: 10px;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 370px) {
    .container {
        .paginationContainer {
            .option {
                margin: 7px;
                font-size: 12px;
            }
        }
    }
}